.contentlayer
.next
node_modules
dist
.direnv
# cannot prettier augmented-ui, it breaks rendering
public/wireguard-internals/augmented-ui.min.css

# Mermaid diagrams, not Miku Miku Dance model files
*.mmd