@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles automatically moved into base layer */
@layer base {
  @font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url("/files/fonts/Inter.var.latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    src: url("/files/fonts/Inter.var.italic.latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  html {
    @apply font-sans text-sm antialiased text-gray-800 bg-white md:text-base;
    letter-spacing: -0.015em;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply flex flex-col justify-start h-full text-base;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }
}

/* Global styles automatically moved into utilities layer */
@layer utilities {
  .container {
    @apply w-full max-w-6xl px-4 mx-auto sm:px-6 md:px-7;
  }

  .container-wide {
    @apply px-6 mx-auto max-w-7xl;
  }
}

/* Component styles automatically moved into components layer */
@layer components {
  /* Footer styles */

  .footer-column-heading {
    @apply mb-6 text-xs font-semibold tracking-wider text-gray-800 uppercase md:block;
  }

  .footer-column-link {
    @apply text-gray-600 transition-colors duration-150 hover:text-gray-800;
  }
}